@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject NavigationManager NavigationManager

<button class="btn btn-link" @onclick="ProcessLogout">Logout</button>

@code {
    private async Task ProcessLogout()
    {
        await SignInManager.SignOutAsync();
        NavigationManager.NavigateTo("/");
    }
}
