@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar-container">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="page-title">@PageTitle</div>
            <div class="auth-links">
                <a href="account">Il Mio Account</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string PageTitle => "Amministrazione";
}