@using Microsoft.AspNetCore.Components.Web

<div class="sidebar @NavMenuCssClass" @onclick="ToggleNavMenu">
    <div class="top-row">
        <button class="navbar-toggler" @onclick:stopPropagation="true" @onclick="ToggleNavMenu">
            @if (collapseNavMenu)
            {
                <span class="navbar-toggler-icon">☰</span>
            }
            else
            {
                <span class="navbar-toggler-icon">✕</span>
            }
        </button>
    </div>
    
    <div class="sidebar-content">
        @if (!collapseNavMenu)
        {
            <div class="menu-header">
               AMBULATORIO
            </div>
            <nav class="flex-column">
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="nav-text">Operatori</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="servizi">
                        <span class="nav-text">Servizi</span> 
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="assenze">
                        <span class="nav-text">Assenze</span> 
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="slotdisponibilita">
                        <span class="nav-text">Slot Disponiiblita</span> 
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="prenotazioni">
                        <span class="nav-text">Prenotazioni</span> 
                    </NavLink>
                </div>
            </nav>
        }
        else
        {
            <nav class="flex-column">
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="icon home-icon"></i>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="calendar">
                        <i class="icon calendar-icon"></i>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="search">
                        <i class="icon search-icon"></i>
                    </NavLink>
                </div>
            </nav>
        }
    </div>
    
    <div class="bottom-nav">
        <div class="nav-item">
            <NavLink class="nav-link" href="Identity/Account/Logout">
                <i class="icon back-icon"></i>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="Identity/Account/Login">
                <i class="icon forward-icon"></i>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="help">
                <i class="icon help-icon"></i>
            </NavLink>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "expand";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}