<div class="sidebar @NavMenuCssClass" style="background-color: #00aab1;">
    <div class="top-row navbar navbar-dark">
        <div class="container-fluid">
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="nav-scrollable" style="background-color: #00aab1;" @onclick:stopPropagation>
        <nav class="flex-column">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> @if (!collapseNavMenu) { <span>Home</span> }
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="operatori">
                    <span class="oi oi-folder" aria-hidden="true"></span> @if (!collapseNavMenu) { <span>Operatori</span> }
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="servizi">
                    <span class="oi oi-calculator" aria-hidden="true"></span> @if (!collapseNavMenu) { <span>Servizi</span> }
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="slot-disponibilita">
                    <span class="oi oi-pencil" aria-hidden="true"></span> @if (!collapseNavMenu) { <span>Disponibilità</span> }
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="assenze">
                    <span class="oi oi-transfer" aria-hidden="true"></span> @if (!collapseNavMenu) { <span>Assenza</span> }
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="prenotazioni">
                    <span class="oi oi-transfer" aria-hidden="true"></span> @if (!collapseNavMenu) { <span>Prenotazioni</span> }
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
